<div class="container" style="padding-top: 25px;">
    <div class="text-center" style="padding-top: 25px;">
        <h1>Clientes-Acme</h1>
    </div>
    <app-tabla-clientes-acme></app-tabla-clientes-acme>
    <br>
    <hr>
    <br>
    <app-form-crear-cliente-acme></app-form-crear-cliente-acme>
    <br>
    <hr>
    <br>
    <div class="row align-items-center">
        <div class="col text-center">
            <h1>Consulta</h1>
            <br>
            <app-consulta-cliente></app-consulta-cliente>
        </div>
        <div class="col text-center">
            <h1>Actualizacion</h1>
            <br>
            <app-actualizacion-cliente></app-actualizacion-cliente>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="text-center">
        <h1>Formulario Reactivo</h1>
        <app-formulario-reactivo></app-formulario-reactivo>
    </div>
</div>