
<table class="table table-dark table-striped" >
    <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Tipo Identificacion</th>
            <th scope="col">Numero Identificacion</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr class="table-primary" *ngFor="let cliente of listadoClientesAcme">
            <th scope="row">{{cliente.numIdCliente}}</th>
            <td>{{cliente.strTipoIdentificacion.strTipoIdentificacionFk}}</td>
            <td>{{cliente.strNumeroIdentificacion}}</td>
            <td>{{cliente.strNombreCompleto}}</td>
            <td>{{cliente.dtmFechaNacimiento}}</td>
        </tr>
    </tbody>
</table>
