<div class="container" style="padding-top: 25px;">
    <table class="table table-dark table-striped" >
        <thead>
            <tr class="text-center">
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Latitud</th>
              <th scope="col">Longitud</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr class="table-primary" *ngFor="let cine of listadoCines">
                <th scope="row">{{cine.id}}</th>
                <td>{{cine.nombre}}</td>
                <td>{{cine.latitud}}</td>
                <td>{{cine.longitud}}</td>
            </tr>
        </tbody>
    </table>
</div>